/* styles.css */
.sensor-label {
    -fx-font-size: 16px;
    -fx-font-family: "Lucida Sans Unicode";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #333333;
}
.actuator-label {
    -fx-font-size: 16px;
    -fx-font-family: "Lucida Sans Unicode";
    -fx-text-fill: white; /* Red text for actuator labels */
    -fx-font-weight: bold;
    -fx-background-color: rgba(51, 51, 51, 0.7);
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-padding: 2px 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.title {
    -fx-font-size: 24px;
    -fx-font-family: "Lucida Sans Unicode";
    -fx-text-fill: #ff0000;
    -fx-font-style: bold;

}

.check-box {
    -fx-font-size: 16px;
    -fx-font-family: "Garamond";
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-border-width: 2;
    -fx-border-color: rgba(0,0,0,0);
    -fx-background-insets: 5px;
    -fx-padding: 2px 5px;
    -fx-border-insets: 5px;
}
.check-box .box {
    -fx-border-color: #000000; /* Border color of the checkbox */
    -fx-border-width: 1px;
    -fx-background-color: rgba(51, 51, 51, 0.7); /* Background color of the checkbox */
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
}

.button {
    -fx-font-size: 16px;
    -fx-font-family: "Garamond";
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-border-width: 2;
    -fx-border-color: rgba(0,0,0,0);
    -fx-background-insets: 5px;
    -fx-padding: 2px 5px;
    -fx-border-insets: 5px;
    -fx-background-color: #cccccc;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
}

.button:hover {
    -fx-background-color: white; /* Change the background color on hover */
    -fx-text-fill: #333333 /* Change the text color on hover */
}

.button:pressed {
    -fx-background-color: #cccccc; /* Change the background color when pressed */
    -fx-text-fill: #333333; /* Change the text color when pressed */
}



.check-box:selected .box .mark {
    -fx-mark-color: #ffffff; /* Green color when selected */

}
.check-box:hover .box {
    -fx-border-color: #000000; /* Border color of the checkbox */
    -fx-border-width: 1px;
    -fx-background-color: rgba(120, 120, 120, 0.7); /* Background color of the checkbox */
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
}

.sensors-pane {
    -fx-background-color: #333333;
}

.node-tab {
    -fx-background-color: #333333;
}

.actuators-vbox {
    -fx-background-image: url('/Images/picsart_chuck.jpeg');
    -fx-background-size: cover; /* Adjust the size of the background image */
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-animated: cycle 0.5s;
}

.sensors-vbox {
    -fx-background-color: #333333; /* Change this to your desired color */
}